* {
      font-family: "courier", sans-serif;
      font-size: 20px;
}

#title {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  margin-bottom: -0.5em;
}

li{
    display: block;
    list-style: none;
    cursor: pointer;
}
.box{
  display: flex;
  justify-content: space-around;
}

.container{
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 30%;
  margin: 2em;
  padding: 30px;
  border-radius: 10px;
}

#test{
    display: none;
}

#chatTest{
    padding: 10px;
    margin:10px;
}

input{
    border:none;
    cursor: pointer;
}

input:focus, textarea:focus {
	outline: none;
	border: 1px solid #FEC842; /* For browsers that don't support box-shadow */
	-moz-box-shadow: 0 0 4px coral;
	-webkit-box-shadow: 0 0 4px coral;
	box-shadow: 0 0 4px coral;
}

button{
    border-radius:1px;
    border: none;
    padding: 10px;
    margin: 5px;
    background-color: coral;
    color: #fff;
    cursor: pointer;
}

button:focus{
  outline: none;
}

#pastIdeas{

}

.hide{
  display: none;
}
